/*squirrel movement*/
.park {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80%;
   position: relative;
}


.squirrel img {
  top: 300px;
  height: 200px;
  width: auto;
  position: absolute;
  animation: squirrelMove 3s;
  -webkit-animation-fill-mode: forwards;
  z-index: 1;
}

.poop {
  background-color: #813F02;
  border-radius: 50%;
  height: 50px;
  width: 25px;
  position: absolute;
  left: 775px;
  top: 400px;
  opacity: 0;
   animation: poopDrop 3s 2s infinite;
  -webkit-animation-fill-mode: forwards;
}

@keyframes squirrelMove {
  0% {
    left:0px;
  }
  100% {
    left: 750px;
  }
}

@keyframes poopDrop {
  50% {
    top: 400px;
    border-radius: 50%;
    opacity: 1;
  }
  75% {
    border-radius: 50% 50% 25% 25%;
    height: 50px;
    width: 25px;
    opacity: 1;
  }
/*   90% {
    height: 37px;
    width: 25px;
  } */
  100% {
    top: 650px;
    border-radius: 50% 50% 10% 10%;
    width: 50px;
    height: 20px;
    opacity: 1;
  }
}

/*BOX WARP*/

.divWarp {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 75px;
  line-height: 200px;
  text-align: center;
  color: white;
  background-color: tomato;
  animation: square-to-circle 4s 2s infinite alternate;
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:tomato;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:mistyrose;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:#00ffff;
    transform:rotate(90deg);
  }
  75%  {
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
    color:white;
  }
  100% {
    border-radius:50%;
    background:honeydew;
    transform:rotate(180deg);
    color: black;
  }
}
